/*navbar styling*/
.navbar-dark {
	background-color: #00004B;
}
.navbar.nav-right.navbar-collapse > ul > li > a{
	color: white;
}

.navbar-brand > img {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
/*navbar styling*/

.carousel-item > img {
	filter: brightness(40%);
}

/*mission vision motto styling*/

/*mission vision motto styling*/


/*mailing list styling*/
.mailSub {
	padding-top: 40px;
	padding-bottom: 40px;
}
/*mailing list styling*/