/*navbar styling*/
.navbar-dark {
	background-color: #727272;
}
.navbar-brand > img {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
/*navbar styling*/

/*bootstrap button styling*/

/*bootstrap button styling*/

/*carousel styling*/
.carousel-item > img {
	filter: brightness(40%);
}
/*carousel styling*/

/*mission vision motto styling*/

/*mission vision motto styling*/

/*PAGE BANNER STYLING*/
.about-jumb {
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('http://drive.google.com/uc?export=view&id=0B_YpDglT_thobHpSSndLcGNRUW9aOTlmMmlXVGY2ek9YYXB3'); 
  background-size: cover;
  color: white;
  padding-top: 140px;
}
.prog-jumb {
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('http://drive.google.com/uc?export=view&id=0B_YpDglT_thobHpSSndLcGNRUW9aOTlmMmlXVGY2ek9YYXB3'); 
  background-size: cover;
  color: white;
  padding-top: 140px;
}
.contact-jumb {
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('http://drive.google.com/uc?export=view&id=1jY1MUxZWU4N1ixfD0W6E8hKgaKRUWvs6');
  background-size: cover;
  color: white;
  padding-top: 140px;
}
/*PAGE BANNER STYLING*/

/*mailing list styling*/
.mailSub {
	padding-top: 40px;
	padding-bottom: 40px;
}
/*mailing list styling*/

/*social icons styling*/
.fab {
	color: #727272;
}

/*social icons styling*/
