/*navbar styling*/
.navbar-dark {
	background-color: #00004B;
}
.navbar-brand > img {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
/*navbar styling*/

.carousel-item > img {
	filter: brightness(40%);
}

/*mission vision motto styling*/

/*mission vision motto styling*/

/*PAGE BANNER STYLING*/
.contact-us {
  background-image: url('http://drive.google.com/uc?export=view&id=1jY1MUxZWU4N1ixfD0W6E8hKgaKRUWvs6');
  background-size: cover;
  color: white;
}
/*PAGE BANNER STYLING*/

/*mailing list styling*/
.mailSub {
	padding-top: 40px;
	padding-bottom: 40px;
}
/*mailing list styling*/